.items-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
}

li {
    background-color: black;
    border-radius: 5px;
    padding: 10px;
    margin-top: 15px;    
    display: flex;
    justify-content: space-between;
    margin-right: 120px;

}


p {
    display: inline;
    margin-right: 50px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(219 214 218);
    
}
.final {
    display: flex;
    justify-content: space-between;
    margin-right: 120px;
    color: aliceblue;
}


i {
    
    color: red;
    cursor: pointer;
}
.checkbox {
    transform: rotate(45deg) scale(1);  
    left: 8px;  
    top: 3px;  
    width: 6px;  
    height: 12px;  
    border: solid red;  
    border-width: 0 2px 2px 0;  
    border-radius: 0;  
 
}



